<button type="button" class="layui-btn layui-btn-sm add-tag">创建标签</button>
<table id="tag" lay-filter="tag"></table>
<div style="display: none">
    <div class="addTagFrom">
        <div class="layui-form open">
            <div class="layui-form-item">
                <label class="layui-form-label">标签内容</label>
                <div class="layui-input-block">
                    <input type="text" name="content" required lay-verify="required" placeholder="请输入标签内容" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
