register
<br />
看起来好像是第一次使用呢，请写入一下信息,以下数据来自账户，你也可以自行修改

<br />
<div>昵称： <input class="nickName" type="text" value="<%= account.nickName %> " /></div>
<div>
    头像：
    <img style="width: 50px" src="https://pica.zhimg.com/80/v2-d181474a2481c290898cf7d183b41a7e_720w.jpg?source=1940ef5c" alt="" srcset="" />
</div>
目前头像不支持修改
<br />
<button class="submit">提交</button>
