.layui-layout-admin {
    .header {
        .logo {
            position: absolute;
            left: 20px;
            color: #fff;
            font-size: 20px;
            line-height: 60px;
        }
        .header-nav {
            position: absolute;
            right: 0;
        }
    }
    .layui-body {
        padding: 16px;
    }
    .layui-breadcrumb {
        padding-bottom: 16px;
    }
}
.layui-table-page {
    text-align: right;
}
