.layui-layout-admin {
    .header {
        .logo {
            position: absolute;
            left: 20px;
            color: #fff;
            font-size: 20px;
            line-height: 60px;
        }

        .header-nav {
            position: absolute;
            right: 0;
        }
    }
    .layui-body {
        padding: 16px;
    }
    .layui-breadcrumb {
        padding-bottom: 16px;
    }
}

.layui-form.open {
    padding: 20px;

    .layui-form-label {
        padding: 9px 0;

        width: 60px;
        text-align: left;
    }
    .layui-input-block {
        margin-left: 70px;
    }
}
.layui-table-page {
    text-align: right;
}

.layui-layer-btn a.layui-layer-btn0 {
    background-color: #009688;
    border: 1px solid #009688;
}
