<div class="container mt-20">
    <ul class="layui-timeline bg-white">
        <% articleList.forEach(item => { %>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <span class="layui-timeline-title"><%=dayjs(item.createdAt,'YYYY-MM-DD') %></span>
                <h2></h2>
                <ul>
                    <li><a href="/article/<%=item.articleId %>">《<%=item.title %>》</a></li>
                </ul>
            </div>
        </li>
        <% }) %>
        <li class="layui-timeline-item"></li>
    </ul>
</div>
