<div class="container mt-20">
    <ul class="layui-timeline bg-white">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h2 class="layui-timeline-title">v0.0.1</h2>
                <div>2020-02-02</div>
                <ul>
                    <li>[新增] 基本完成首页，文章页，文章管理，标签管理，分类管理</li>
                </ul>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">新建文件夹</div>
            </div>
        </li>
    </ul>
</div>
